  
    <div class='QQ centered' >
       <%= image_tag "26.gif", class: "animated-gif" %>

    </div>
    <div class='WW centered'>
       <%= image_tag "27.gif", class: "animated-gif" %>
    </div>
   
    <div class='EE centered'>
       <%= image_tag "28.gif", class: "animated-gif" %>

    </div>
    <div class='RR centered'>
       <%= image_tag "29.gif", class: "animated-gif" %>
    </div>
   
    <div class='TT centered'>
       <%= image_tag "30.gif", class: "animated-gif" %>

    </div>
    <div class='YY centered'>
       <%= image_tag "31.gif", class: "animated-gif" %>
    </div>
   
    <div class='UU centered'>
       <%= image_tag "32.gif", class: "animated-gif" %>

    </div>
    <div class='II centered'>
       <%= image_tag "33.gif", class: "animated-gif" %>
    </div>
   
    <div class='OO centered'>
       <%= image_tag "34.gif", class: "animated-gif" %>

    </div>
    <div class='PP centered'>
       <%= image_tag "35.gif", class: "animated-gif" %>
    </div>
   
   
   
   






    </div>
    <div class='Q centered'>
       <%= image_tag "1.gif", class: "animated-gif" %>
    </div>
    
    <div class='W centered' >
       <%= image_tag "2.gif", class: "animated-gif" %>

    </div>
    <div class='E centered'>
       <%= image_tag "3.gif", class: "animated-gif" %>
    </div>
   
    <div class='E centered'>
       <%= image_tag "4.gif", class: "animated-gif" %>

    </div>
    <div class='R centered'>
       <%= image_tag "5.gif", class: "animated-gif" %>
    </div>
   
    <div class='T centered'>
       <%= image_tag "6.gif", class: "animated-gif" %>

    </div>
    <div class='Y centered'>
       <%= image_tag "7.gif", class: "animated-gif" %>
    </div>
 
   
    <div class='U centered'>
       <%= image_tag "0.gif", class: "animated-gif" %>

    </div>
    <div class='I centered'>
       <%= image_tag "9.gif", class: "animated-gif" %>
    </div>
   
    <div class='O centered'>
       <%= image_tag "10.gif", class: "animated-gif" %>

    </div>
    <div class='P centered'>
       <%= image_tag "11.gif", class: "animated-gif" %>
    </div>
 
      
   
   
   
   
    <div class='A centered'>
       <%= image_tag "12.gif", class: "animated-gif" %>

    </div>
    <div class='S centered'>
       <%= image_tag "13.gif", class: "animated-gif" %>
    </div>
   
    <div class='D centered'>
       <%= image_tag "dunk.gif", class: "animated-gif" %>

    </div>
    <div class='F centered'>
       <%= image_tag "faceplant.gif", class: "animated-gif" %>
    </div>
   
    <div class='G centered'>
       <%= image_tag "14.gif", class: "animated-gif" %>

    </div>
    <div class='H centered'>
       <%= image_tag "15.gif", class: "animated-gif" %>
    </div>
   
    <div class='J centered'>
       <%= image_tag "16.gif", class: "animated-gif" %>

    </div>
    <div class='K centered'>
       <%= image_tag "17.gif", class: "animated-gif" %>
    </div>
   
    <div class='L centered'>
       <%= image_tag "18.gif", class: "animated-gif" %>










    </div>
    <div class='Z centered'>
       <%= image_tag "19.gif", class: "animated-gif" %>
    </div>
    
    <div class='X centered'>
       <%= image_tag "20.gif", class: "animated-gif" %>

    </div>
    <div class='C centered'>
       <%= image_tag "21.gif", class: "animated-gif" %>
    </div>
   
    <div class='V centered'>
       <%= image_tag "22.gif", class: "animated-gif" %>

    </div>
    <div class='B centered'>
       <%= image_tag "23.gif", class: "animated-gif" %>
    </div>
   
    <div class='N centered'>
       <%= image_tag "24.gif", class: "animated-gif" %>

    </div>
    <div class='M centered'>
       <%= image_tag "25.gif", class: "animated-gif" %>
   