<html>
 <head>
    <style>


       .QQ {
           visibility: hidden;
       }
       .WW{
           visibility: hidden;
       } 
       .EE{
           visibility: hidden;
       }
        .RR{
           visibility: hidden;
       }
        .TT{
           visibility: hidden;
       }
        .YY{
           visibility: hidden;
       }
        .UU{
           visibility: hidden;
       }
        .II{
           visibility: hidden;
       }
        .OO{
           visibility: hidden;
       }
        .PP{
           visibility: hidden;
       }
        .Q{
           visibility: hidden;
       }
        .W{
           visibility: hidden;
       }
        .E{
           visibility: hidden;
       }
        .R{
           visibility: hidden;
       }
        .T{
           visibility: hidden;
       }
        .Y{
           visibility: hidden;
       }
        .U{
           visibility: hidden;
       }
        .I{
           visibility: hidden;
       }
        .O{
           visibility: hidden;
       }
        .P{
           visibility: hidden;
       }
        .A{
           visibility: hidden;
       }
        .S{
           visibility: hidden;
       }
        .D{
           visibility: hidden;
       }
        .F{
           visibility: hidden;
       }
        .G{
           visibility: hidden;
       }
        .H{
           visibility: hidden;
       }
        .J{
           visibility: hidden;
       }
        .K{
           visibility: hidden;
       }
        .L{
           visibility: hidden;
       }
        .Z{
           visibility: hidden;
       }
        .X{
           visibility: hidden;
       }
        .C{
           visibility: hidden;
       }
        .V{
           visibility: hidden;
       }
        .B{
           visibility: hidden;
       }
        .N{
           visibility: hidden;
       }
        .M {
           visibility: hidden;
       }
       
         .centered {
           position: fixed;
           top: 50%;
           left: 50%;
           transform: translate(-50%, -45%);
           width: 100%;
           height: auto;
       }
       
    </style>
    <script>
       function showElement(name, delay) {
           var element  = document.getElementsByClassName(name)[0];
           element.style.visibility = "visible";
           setTimeout(function(){ element.style.visibility = "hidden"; }, delay);
       }

       document.addEventListener("keypress", function(event) {
           //http://ee.hawaii.edu/~tep/EE160/Book/chap4/subsection2.1.1.1.html
           //alert(event.keyCode);
           switch (event.keyCode) {
                case 48://0
                   showElement("QQ", 5000);
               break;
               case 49:
                   showElement('WW', 5000);
               break;
               case 50://
                   showElement('EE', 5000);
               break;
              case 51://
                   showElement("RR", 5000);
               break;
               case 52://
                   showElement('TT', 5000);
               break;
               case 53://
                   showElement('YY', 5000);
               break;
               case 54://
                   showElement("UU", 5000);
               break;
               case 55://
                   showElement('II', 5000);
               break;
               case 56://
                   showElement('OO', 5000);
               break;
               case 57://
                   showElement("PP", 5000);
               break;
               case 65://
                   showElement('A', 5000);
               break;
               case 66://
                   showElement('B', 5000);
               break;
               case 67://
                   showElement("C", 5000);
               break;
               case 68://
                   showElement('D', 5000);
               break;
               case 69://
                   showElement('E', 5000);
               break;
               case 70://
                   showElement("F", 5000);
               break;
               case 71://
                   showElement('G', 5000);
               break;
               case 72://
                   showElement('H', 5000);
               break;
               case 73://
                   showElement("I", 5000);
               break;
               case 74://
                   showElement('J', 5000);
               break;
               case 75://
                   showElement('K', 5000);
               break;
               case 76://
                   showElement("L", 5000);
               break;
               case 77://
                   showElement('M', 5000);
               break;
               case 78://
                   showElement('N', 5000);
               break;
               case 79://
                   showElement("O", 5000);
               break;
               case 80://
                   showElement('P', 5000);
               break;
               case 81://
                   showElement('Q', 5000);
               break;
               case 82://
                   showElement("R", 5000);
               break;
               case 83://
                   showElement('S', 5000);
               break;
               case 84://
                   showElement('T', 5000);
               break;
               case 85://
                   showElement("U", 5000);
               break;
               case 86://
                   showElement('V', 5000);
               break;
               case 87://
                   showElement('W', 5000);
               break;
               case 88://
                   showElement("X", 5000);
               break;
               case 89://
                   showElement('Y', 5000);
               break;
               case 90://
                   showElement('Z', 5000);
               break;
               }
       });
    </script>
 <body>
   
  
    <div class='QQ centered' >
       <%= image_tag "26.gif", class: "animated-gif" %>

    </div>
    <div class='WW centered'>
       <%= image_tag "27.gif", class: "animated-gif" %>
    </div>
   
    <div class='EE centered'>
       <%= image_tag "28.gif", class: "animated-gif" %>

    </div>
    <div class='RR centered'>
       <%= image_tag "29.gif", class: "animated-gif" %>
    </div>
   
    <div class='TT centered'>
       <%= image_tag "30.gif", class: "animated-gif" %>

    </div>
    <div class='YY centered'>
       <%= image_tag "31.gif", class: "animated-gif" %>
    </div>
   
    <div class='UU centered'>
       <%= image_tag "32.gif", class: "animated-gif" %>

    </div>
    <div class='II centered'>
       <%= image_tag "33.gif", class: "animated-gif" %>
    </div>
   
    <div class='OO centered'>
       <%= image_tag "34.gif", class: "animated-gif" %>

    </div>
    <div class='PP centered'>
       <%= image_tag "35.gif", class: "animated-gif" %>
    </div>
   
   
   
   






    </div>
    <div class='Q centered'>
       <%= image_tag "1.gif", class: "animated-gif" %>
    </div>
    
    <div class='W centered' >
       <%= image_tag "2.gif", class: "animated-gif" %>

    </div>
    <div class='E centered'>
       <%= image_tag "3.gif", class: "animated-gif" %>
    </div>
   
    <div class='E centered'>
       <%= image_tag "4.gif", class: "animated-gif" %>

    </div>
    <div class='R centered'>
       <%= image_tag "5.gif", class: "animated-gif" %>
    </div>
   
    <div class='T centered'>
       <%= image_tag "6.gif", class: "animated-gif" %>

    </div>
    <div class='Y centered'>
       <%= image_tag "7.gif", class: "animated-gif" %>
    </div>
 
   
    <div class='U centered'>
       <%= image_tag "0.gif", class: "animated-gif" %>

    </div>
    <div class='I centered'>
       <%= image_tag "9.gif", class: "animated-gif" %>
    </div>
   
    <div class='O centered'>
       <%= image_tag "10.gif", class: "animated-gif" %>

    </div>
    <div class='P centered'>
       <%= image_tag "11.gif", class: "animated-gif" %>
    </div>
 
      
   
   
   
   
    <div class='A centered'>
       <%= image_tag "12.gif", class: "animated-gif" %>

    </div>
    <div class='S centered'>
       <%= image_tag "13.gif", class: "animated-gif" %>
    </div>
   
    <div class='D centered'>
       <%= image_tag "dunk.gif", class: "animated-gif" %>

    </div>
    <div class='F centered'>
       <%= image_tag "faceplant.gif", class: "animated-gif" %>
    </div>
   
    <div class='G centered'>
       <%= image_tag "14.gif", class: "animated-gif" %>

    </div>
    <div class='H centered'>
       <%= image_tag "15.gif", class: "animated-gif" %>
    </div>
   
    <div class='J centered'>
       <%= image_tag "16.gif", class: "animated-gif" %>

    </div>
    <div class='K centered'>
       <%= image_tag "17.gif", class: "animated-gif" %>
    </div>
   
    <div class='L centered'>
       <%= image_tag "18.gif", class: "animated-gif" %>










    </div>
    <div class='Z centered'>
       <%= image_tag "19.gif", class: "animated-gif" %>
    </div>
    
    <div class='X centered'>
       <%= image_tag "20.gif", class: "animated-gif" %>

    </div>
    <div class='C centered'>
       <%= image_tag "21.gif", class: "animated-gif" %>
    </div>
   
    <div class='V centered'>
       <%= image_tag "22.gif", class: "animated-gif" %>

    </div>
    <div class='B centered'>
       <%= image_tag "23.gif", class: "animated-gif" %>
    </div>
   
    <div class='N centered'>
       <%= image_tag "24.gif", class: "animated-gif" %>

    </div>
    <div class='M centered'>
       <%= image_tag "25.gif", class: "animated-gif" %>
   
 </body>
</html>