<footer class="footer">

  <nav>
    <ul>
      <li><%= link_to "Core 1",   random_core1_path %></li>
      <li><%= link_to "Core 2",   random_core2_path %></li>
      <li><%= link_to "Core 3",   random_core3_path %></li>
      <li><%= link_to "Core 4",   random_core4_path %></li>
      <li><%= link_to "Advisory",   random_flex_path %></li>
      <li><%= link_to "Gifs",   rangif_randomgifs_path %></li> 
    </ul>
  </nav>
</footer>